@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #000;
  background: #000;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .search-poster {
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000),
      url('/search-poster.webp');
  }

  .glassmorphic-background {
    z-index: 99;
    background: linear-gradient(
      65deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0)
    );
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }
}
